body {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
}

div {
    text-align: center;
}